body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

@media (max-width: 512px) and (min-resolution: 1.5dppx),
(max-width: 1024px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('../../resources/images/bg_1024.png');
    }
}

@media (min-width: 513px) and (max-width: 1024px) and (min-resolution: 1.5dppx),
(min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('../../resources/images/bg_2048.png');
    }
}

@media (min-width: 1025px) and (min-resolution: 1.5dppx),
(min-width: 2049px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('../../resources/images/bg_2880.png');
    }
}

body .talasso-main {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.talasso-main .talasso-main__content {
    max-width: 900px;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
}

.talasso-form .mdl-textfield {
    width: 100%;
}

.talasso-form form {
    max-width: 550px;
    margin: auto;
}

.talasso-main.mdl-layout .mdl-layout__content {
    padding-top: 230px;
    padding-bottom: 230px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.talasso-form .mdl-card__title {
    padding: 16px;
    flex-grow: 1;
}

.talasso-form .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.talasso-form .mdl-card__media a,
.talasso-form .mdl-card__title a {
    color: inherit;
}

/*
.talasso-main .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}
.talasso-main .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
}
.talasso-main .mdl-card__supporting-text strong {
  font-weight: 400;
}
.talasso-main .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.talasso-main .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.talasso-main:not(.talasso-main--content) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.talasso-main .mdl-card__actions:first-child {
  margin-left: 0;
}
*/

.talasso-main .on-the-road-again .mdl-card__media {
    background-image: url('../../resources/images/road.jpg');
}

.talasso-main .mdl-card > a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

.talasso-main .mdl-card h3 {
    margin: 0;
}

.talasso-main .mdl-card h3 a {
    text-decoration: none;
}

.talasso-main--content .custom-header {
    background-color: transparent;
}

.talasso-main--content .talasso-main__content > .mdl-card .mdl-card__media {
    background-image: url('../../resources/images/road_big.jpg');
    height: 280px;
}

/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */

.talasso-main--content .demo-back {
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    z-index: 9999;
}

.talasso-main .section-spacer {
    flex-grow: 1;
}

.talasso-main .something-else {
    overflow: visible;
    z-index: 10;
}

.talasso-main .amazing .mdl-card__title {
    background-color: #263238;
}

.talasso-main .minilogo {
    width: 44px;
    height: 44px;
    background-size: 50%;
    border-radius: 22px;
    background: #F5F5F5 url('../../resources/images/avatar.png') no-repeat center;
}

.talasso-max-width {
    max-width: 900px;
    margin: auto;
}

.talasso-card .mdl-card__title {
    padding-bottom: 0;
}

img.content-image {
    width: 100%;
    height: auto;
}

/* Fixes for IE 10 */
.mdl-grid {
    display: flex !important;
}

.talasso-main .mdl-mini-footer {
    margin-top: 80px;
    height: 120px;
    padding: 40px;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Hide all positions by default: */
.pos {
    display: none;
}

